# SPDX-FileCopyrightText: 2023 David Runge <dave@sleepmap.de>
# SPDX-License-Identifier: LGPL-3.0-or-later

[Unit]
Description=Mount persistent storage as /mnt
Conflicts=umount.target
Before=local-fs.target umount.target

[Mount]
What=/dev/sda1
Where=/mnt

[Install]
WantedBy=local-fs.target
